# Tasks

In [11]:
# Import Standard Libraries
# Import Pandas library for working with dataframes
import pandas as pd

#Import machine learning library that contains example datasets
import sklearn as skl

# Import Numpy library to work with arrays
import numpy as np

# Import library to visualize data
import matplotlib.pyplot as plt

#Import display function if not already standard
from IPython.display import display

## Task 1: Source the Data Set

### Task 1 Summary:
Import the Iris data set from the sklearn.datasets module.

Explain, in your own words, what the load_iris() function returns.
### Task 1 Resources:
1 - Standard Datasets available from Scikit-Learn - https://scikit-learn.org/stable/datasets/toy_dataset.html

2 - Information on the load_iris function - https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_iris.html#sklearn.datasets.load_iris

In [40]:
# Import the Iris dataset using Scikit-Learn and assign to variable. Note the skikit-learn library has a few standard datasets included. Here we will import one of them

data_Iris = skl.datasets.load_iris(as_frame=True) #We are using the skl.datasets command to import one of the standard datasets and the load_iris function will load the Iris dataset. 
# I am setting the bool value of as-frame to True so that this info is returned as a dataframe (Instead of an array).

print("The output from load_iris is: \n",data_Iris) #Displays the output from load_iris
print("\nThe keys in this data set are: \n",data_Iris.keys()) #Use the keys() function to see what characteristics / attributes are available

'''
The characteristics of the object returned by load_iris is:
1. data - this contains data (samples) relating to the feutures
2. target - this contains the species labels / designation for each sample / row of data
3. frame - this contains a dataframe with the data and target combined i.e. shape of (150, 5)
4. target_names - this contains a list detailing the type of target classes (species)
5. DESCR - this seems to be a string that gives more information regarding the data set
6. feature_names - this contains the 4 x feutures of the data set. 
7. filename - this seems to be the name of the source csv file containing the data (this is a guess)
8. data_module - this contains sklearn.datasets.data. I assume this refers back to the applicable library we used sklearn

'''

df_Iris = data_Iris.data # extract the dataframe to another variable. I could have displayed this as is using data_Iris.data
print("\nThis is a test to preview the data set - excluding the target (species): ")
display(df_Iris) #display the data set as a test (this excludes the target which is the species of Iris)
#If I wanted to include the target I would have made df_Iris = data_Iris.frame

The output from load_iris is:
 {'data':      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns], 'target': 0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int64, 'frame':      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

     target
0         0
1         0
2         0
3         0
4         0
..      ...
145       2
146       2
147       2
148       2
149       2

[150 rows x 5 columns], 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'), 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n:Number of Instances: 150 (50 in each of three classes)\n:Number of Attributes: 4 numeric, predictive attributes and the class\n:Attribute Information:\n    - sepal length in cm\n    - sepal width in cm\n    - petal length in cm\n    - petal width in cm\n    - class:\n            - Iris-Setosa\n            - Iris-Versicolour\n            - Iris-Virginica\n\n:Summary Statistics:\n\n============== ==== ==== ======= ===== ====================\n                Min  Max   Mean    SD   Class Correlation\n============== ==== ==== ======= ===== ====================\nsepal length:   4.3  7.9   5.84   0.83    0.7826\nsepal width:    2.0  4.4   3.05   0.43   -0.4194\npetal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\npetal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n============== ==== ==== ======= ===== ====================\n\n:Missing Attribute Values: None\n:Class Distribution: 33.3% for each of 3 classes.\n:Creator: R.A. Fisher\n:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n:Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. dropdown:: References\n\n  - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n    Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n    Mathematical Statistics" (John Wiley, NY, 1950).\n  - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n    (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n  - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n    Structure and Classification Rule for Recognition in Partially Exposed\n    Environments".  IEEE Transactions on Pattern Analysis and Machine\n    Intelligence, Vol. PAMI-2, No. 1, 67-71.\n  - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n    on Information Theory, May 1972, 431-433.\n  - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n    conceptual clustering system finds 3 classes in the data.\n  - Many, many more ...\n', 'feature_names': ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)'], 'filename': 'iris.csv', 'data_module': 'sklearn.datasets.data'}

The keys in this data set are:
 dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

This is a test to preview the data set - excluding the target (species):

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

## Task 2: Explore the Data Structure

### Task 2 Summary:
Print and explain the shape of the data set, the first and last 5 rows of the data, the feature names, and the target classes.

### Task 2 Resources:
1 - Information on the pandas shape function - https://www.geeksforgeeks.org/python-pandas-df-size-df-shape-and-df-ndim/

2 - Information on the pandas head & tail function to show first and last 5 rows of data - https://stackoverflow.com/questions/58260771/how-to-show-firstlast-n-rows-of-a-dataframe

3 - Using the list() function to return a list of column names - https://stackoverflow.com/questions/19482970/get-a-list-from-pandas-dataframe-column-headers

In [42]:
#Get the shape of the data set (I assume excluding the target)
print("1. The shape of the Iris data set (excluding the target) is - {}\n".format(df_Iris.shape)) #the df.shape function returns a tuple showing the dimensions of the dataframe. 
# The result shows me this data set has 150 rows and 4 columns (excluding the target).
# If I got the shape of the data set including the target it would be 150 rows and 5 columns.  

#Show only the first 5 and last 5 rows of data (I assume excluding the target)
print("2.1 The following output shows only the first 5 rows of data: ") #Print explanation of format this will be shown
display(df_Iris.head(5)) #use the display function as it outputs a cleaner looking table. I used the pandas df.head(n) function to shown only the top n rows of the dataset. 
print("2.2 The following output shows only the bottom 5 rows of data: ") #Print explanation of format this will be shown
display(df_Iris.tail(5)) #use the display function as it outputs a cleaner looking table. I used the pandas df.tail(n) function to shown only the bottom n rows of the dataset. 

#Get the feuture names of the dataset. From the preview we can see the feuture names are contained in the dataframe heading /columns
feuture_names = data_Iris.feature_names #I could also have used the list() function to return the a list column names

print("3. The following is a list of feuture names in the data set: \n{}\n".format(feuture_names))
#I could have also used df_Iris.head(0) to display the column names

#Return the target classes
target_names = data_Iris.target_names
print("4. The target classes are: \n{}\n".format(target_names))

1. The shape of the Iris data set (excluding the target) is - (150, 4)

2.1 The following output shows only the first 5 rows of data:

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

2.2 The following output shows only the bottom 5 rows of data:

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

3. The following is a list of feuture names in the data set:
['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

4. The target classes are:
['setosa' 'versicolor' 'virginica']

## Task 3: Summarize the Data

## Task 4: Visualize Features

## Task 5: Investigate Relationships

## Task 6: Analyze Relationship

## Task 7: Analyze Class Distributions

## Task 8: Compute Correlations

## Task 9: Fit a Simple Linear Regression

## Task 10: Too Many Features

## End